{% extends "base.html" %}

{% block title %}Business Data Management{% endblock %}

{% block content %}
<div class="mt-4"></div>
<div class="container table-container">
    <h1 class="text-center">Welcome, {{ user.username }}!</h1>
    <h2 class="text-center">Manage Your Business Data</h2>

    <!-- Add New Data Button -->
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-success btn-add" onclick="location.href='{% url 'businessdata:addbusinessdata' %}'">
            <i class="fas fa-plus"></i> Add New Data
        </button>
    </div>

    <!-- Data Table -->
    <table class="table table-bordered table-hover table-dark">
        <thead class="thead-light">
            <tr>
                <th>Document Title</th>
                <th>Default ChatBot</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.document_title }}</td>
                    <td>
                      {% if item.chat_bot__name %}
                        {{ item.chat_bot__name }}
                      {% else %}
                        No ChatBot Assigned
                      {% endif %}
                    </td>
                    <td class="action-buttons-cell">
                        <!-- Update Button -->
                        <a href="{% url 'businessdata:updatebusinessdata' item.id %}" class="btn btn-primary btn-action mx-1">
                            <i class="fas fa-edit"></i> Update Data
                        </a>

                        <!-- Delete Button -->
                        <form method="POST" action="{% url 'businessdata:deletebusinessdata' item.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-action mx-1" onclick="return confirm('Are you sure you want to delete this item?');">
                                <i class="fas fa-trash-alt"></i> Delete
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

