{% load static %}
{% load form_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ChatBotAI{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body data-theme="light">
    <!-- Theme Toggle Script -->
    <button class="btn btn-secondary toggle-container toggle-theme">Toggle Dark/Light Mode</button>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <h1>Creditizens ChatBotAI</h1>
        </div>
    </header>

    <!-- Navigation Bar -->
    <nav class="nav">
      {% if user.is_authenticated %}
        {% if user|has_group:"business" %}
          <a href="{% url 'businessdata:businessdatamanagement' %}">Home</a>
          <a href="{% url 'chatbotsettings:chatbotsettingsmanagement' %}">Bot Settings</a>
          <a href="{% url 'users:logoutbusinessuser' %}" >Logout</a>
        {% elif user|has_group:"client" %}
          <a href="{% url 'clientchat:clientuserchat' %}">Home</a>
          <a href="{% url 'users:updateclientuser' %}">Update Details</a>
          <a href="{% url 'users:logoutclientuser' %}" >Logout</a>
        {% endif %}
      {% else %}
        <a href="{% url 'users:loginclientuser' %}">Login Client User</a>
        <a href="{% url 'users:registerclientuser' %}">Register Client User</a>
        <a href="{% url 'users:loginbusinessuser' %}">Login Business User</a>
        <a href="{% url 'users:registerbusinessuser' %}">Register Business User</a>
      {% endif %}
    </nav>

    <!-- Messages -->
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Main Content -->
    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 CreditizensAI. All rights reserved.</p>
        </div>
    </footer>
    <script src="{% static 'js/theme-toggle.js' %}"></script>
    {% if request.resolver_match.url_name == 'clientuserchat' %}
      <script src="{% static 'js/client-chat.js' %}"></script>
    {% endif %}
</body>

</html>
