{% extends "base.html" %}

{% block title %}Client User Chat{% endblock %}

{% block content %}
<div class="chat-container">
<!--    <div class="container mt-3"> -->
        <!-- Sidebar with Chatbot Details -->
        <div class="sidebar">
            <h4>AI Personality Details</h4>

            <!-- Dropdown to select a document title -->
            <select id="documentTitleDropdown" class="form-control">
                <option value="" disabled selected>Select Document Title</option>
                {% for document in business_data %}
                    <option value="{{ document.id }}" {% if document == selected_document %} selected {% endif %}>
                        {{ document.document_title }}
                    </option>
                {% endfor %}
            </select>

            <!-- Chatbot details that will be updated based on selection -->
            <div id="chatbotDetails">
                {% if default_chatbot %}
                  <p>default chatbot {{ default_chatbot.chat_bot.age }}</p>
                  {% if default_chatbot.name %}
                <!-- This is handled by django if we want to send default botsettings if exist we tabe the first one and send it with the context -->    
                    <h5 id="chatbotName">{{ default_chatbot.name }}</h5>
                    <img id="chatbotAvatar" src="{{ default_chatbot.avatar.url }}" alt="Chatbot Avatar" width="150">
                    <p><strong>Age:</strong> <span id="chatbotAge">{{ default_chatbot.age }}</span></p>
                    <p><strong>Origin:</strong> <span id="chatbotOrigin">{{ default_chatbot.origin }}</span></p>
                    <p><strong>Dream:</strong> <span id="chatbotDream">{{ default_chatbot.dream }}</span></p>
                    <p><strong>Tone:</strong> <span id="chatbotTone">{{ default_chatbot.tone }}</span></p>
                    <p><strong>Description:</strong> <span id="chatbotDescription">{{ default_chatbot.description }}</span></p>
                    <p><strong>Expertise:</strong> <span id="chatbotExpertise">{{ default_chatbot.expertise }}</span></p> 
                    <p><strong>Business Owner:</strong> <span id="chatbotBusinessOwner">{{ default_chatbot.business_user.username }}</span></p>
                    <p><strong>Number:</strong> <span id="chatbotNumber">{{ default_chatbot.business_user_uuid }}</span></p>
                  {% endif %}  
                {% else %}
                <!-- Javascript will handle that part by showing the fields if there something and user selects it from dropdown-->
                    <h5 type="hidden" id="chatbotName" value=""></h5>
                    <img style="display: none;" id="chatbotAvatar" src="" alt="Chatbot Avatar" width="150">
                    <p><span type="hidden" id="chatbotAge" value=""></span></p>
                    <p><span type="hidden" id="chatbotOrigin" value=""></span></p>
                    <p><span type="hidden" id="chatbotDream" value=""></span></p>
                    <p><span type="hidden" id="chatbotTone" value=""></span></p>
                    <p><span type="hidden" id="chatbotDescription" value=""></span></p>
                    <p><span type="hidden" id="chatbotExpertise" value=""></span></p> 
                    <p><span type="hidden" id="chatbotBusinessOwner" value=""></span></p>
                    <p><span type="hidden" id="chatbotNumber" value=""></span></p>  
                {% endif %}
            </div>

            <!-- Custom chatbot form if no default chatbot -->
            {% if not default_chatbot %}
            <form  style="display: none" id="customChatbotForm">
                <p class="lightmode-text-black">No AI personality assigned yet. Define your custom AI Personality.</p>
                <div class="form-group">
                    <label class="lightmode-text-black" for="customChatbotName">Chatbot Name</label>
                    <input type="text" class="form-control" id="customChatbotName" name="customChatbotName" placeholder="Enter Chatbot Name" required>
                </div>
                <div class="form-group">
                    <label class="lightmode-text-black" for="customChatbotAge">Chatbot Age</label>
                    <input type="number" class="form-control" id="customChatbotAge" name="customChatbotAge" placeholder="Enter Chatbot Age">
                </div>
                <div class="form-group">
                    <label class="lightmode-text-black" for="customChatbotOrigin">Chatbot Origin</label>
                    <input type="text" class="form-control" id="customChatbotOrigin" name="customChatbotOrigin" placeholder="Enter Chatbot Origin">
                </div>
                <div class="form-group">
                    <label class="lightmode-text-black" for="customChatbotDream">Chatbot Dream</label>
                    <input type="text" class="form-control" id="customChatbotDream" name="customChatbotDream" placeholder="Enter Chatbot Dream">
                </div>
                <div class="form-group">
                    <label class="lightmode-text-black" for="customChatbotTone">Chatbot Tone</label>
                    <input type="text" class="form-control" id="customChatbotTone" name="customChatbotTone" placeholder="Enter Chatbot Tone">
                </div>
                <div class="form-group">
                    <label class="lightmode-text-black" for="customChatbotDescription">Chatbot Description</label>
                    <textarea class="form-control" id="customChatbotDescription" name="customChatbotDescription" placeholder="Enter Chatbot Description" required></textarea>
                </div>
                <div class="form-group">
                    <label class="lightmode-text-black" for="customChatbotExpertise">Chatbot Expertise</label>
                    <input type="text" class="form-control" id="customChatbotExpertise" name="customChatbotExpertise" placeholder="Enter Chatbot Expertise">
                </div>
            </form>
            {% endif %}
        </div>
  <!--  </div> -->

    <!-- Main Chat Section -->
    <div class="main-chat-section">
        <!-- Chat Messages Container -->
        <div id="chat-container" class="chat-messages-container">
            {% for message in chat_messages %}
                <div class="message-container {% if message.sender_type == 'user' %}user-message{% else %}bot-message{% endif %}">
                    <img src="{% if message.sender_type == 'user' %}{{ user_avatar }}{% else %}{{ chatbot_avatar }}{% endif %}" 
                         alt="Avatar" class="avatar">
                    <div class="message">
                        <p>{{ message.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Chat Form -->
        <form id="message-form" method="post" class="message-form">
            {% csrf_token %}
            <input class="message-input" id="message-input" name="content" placeholder="Enter your message here..." value="{{ form.content.value|default_if_none:'' }}" required>
            <!-- <input id="message-input" name="message" class="message-input" placeholder="Enter your message here..." required> -->
            {% if default_chatbot %}
              {% if default_chatbot.name %}
                <input type="hidden" id="chatbotName" value="{{ default_chatbot.name }}">
                <input type="hidden" id="chatbotAge" value="{{ default_chatbot.age }}">
                <input type="hidden" id="chatbotOrigin" value="{{ default_chatbot.origin }}">
                <input type="hidden" id="chatbotDream" value="{{ default_chatbot.dream }}">
                <input type="hidden" id="chatbotTone" value="{{ default_chatbot.tone }}">
                <input type="hidden" id="chatbotDescription" value="{{ default_chatbot.description }}">
                <input type="hidden" id="chatbotExpertise" value="{{ default_chatbot.expertise }}">
              {% endif %}
            {% else %}
                <input type="hidden" id="customchatbotName" value="{{ custom_name_value }}">
                <input type="hidden" id="customchatbotAge" value="{{ custom_age_value }}">
                <input type="hidden" id="customchatbotOrigin" value="{{ custom_origin_value }}">
                <input type="hidden" id="customchatbotDream" value="{{ custom_dream_value }}">
                <input type="hidden" id="customchatbotTone" value="{{ custom_tone_value }}">
                <input type="hidden" id="customchatbotDescription" value="{{ custom_description_value }}">
                <input type="hidden" id="customchatbotExpertise" value="{{ custom_expertise_value }}">
            {% endif %}
            <button type="submit" class="btn btn-send">Send</button>
        </form>
    </div>
</div>
{% endblock %}
